<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.mapper.ClassInfoMapper">

    <select id="selectAll" resultType="com.exam.entity.ClassInfo">
        select id, class_code, class_name, grade_name, teacher_id, status, create_time, update_time, deleted
        from class_info
        where deleted = 0
        order by id asc
    </select>
</mapper>
