<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.mapper.SysRoleMapper">

    <sql id="Base_Column_List">
        id, role_code, role_name, status, create_time, update_time, deleted
    </sql>

    <select id="selectAll" resultType="com.exam.entity.SysRole">
        select <include refid="Base_Column_List"/>
        from sys_role
        where deleted = 0
        order by id asc
    </select>

    <select id="selectRolesByUserId" resultType="com.exam.entity.SysRole">
        select r.id,
               r.role_code,
               r.role_name,
               r.status,
               r.create_time,
               r.update_time,
               r.deleted
        from sys_role r
                 inner join sys_user_role ur on r.id = ur.role_id and ur.deleted = 0
        where r.deleted = 0
          and ur.user_id = #{userId}
        order by r.id asc
    </select>

    <select id="selectByIds" resultType="com.exam.entity.SysRole">
        select <include refid="Base_Column_List"/>
        from sys_role
        where deleted = 0
          and id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
</mapper>
