<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.mapper.SysUserRoleMapper">

    <insert id="batchInsert">
        insert into sys_user_role(user_id, role_id, create_time, update_time, deleted)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.userId}, #{item.roleId}, #{item.createTime}, #{item.updateTime}, #{item.deleted})
        </foreach>
    </insert>

    <update id="deleteByUserId">
        update sys_user_role
        set deleted = 1,
            update_time = now()
        where user_id = #{userId}
          and deleted = 0
    </update>

    <update id="deleteByRoleId">
        update sys_user_role
        set deleted = 1,
            update_time = now()
        where role_id = #{roleId}
          and deleted = 0
    </update>
</mapper>
